<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "Memo app", root_path, id: 'logo' %>
    <nav>
     <ul class="nav navbar-nav navbar-right">
       <%# TODO: Navigation 완성하기%>
       <li><%= link_to 'Home', root_path %></li>
       <li><%= link_to 'New Memo', '#' %></li>
       <li><%= link_to 'Login', '#' %></li>
     </ul>
    </nav>
  </div>
</header>